@import './uikit.less';

// We only have one theme; no need for inversion support
@inverse-global-color-mode: none;

// Disable all UIkit animations if user prefers reduced motion
@media (prefers-reduced-motion) {
    [class*='uk-animation-'] {
        animation-name: none;
    }
}

// DiscordImage shapes
@discordImageSizes: 16, 32, 64, 128, 256, 512, 1024, 2048, 4096;
each(@discordImageSizes, {
    .dimg-circle-@{value} {
        border-radius: ceil(@value / 2px);
    }
    .dimg-squircle-@{value} {
        border-radius: ceil(@value / 3px);
    }
});
