/node_modules/
/dist/
/.parcel-cache/
/parcel-bundle-reports/

/src/index.html
/src/uikit.ts
/src/uikit.less

# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
# If you're not using Zero-Installs:
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
